.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;
}

i {
  font-size: 120px;
  text-align: center;
}

form {
  margin: 10px auto;
}

.strong {
  font-weight: 800;
  cursor: default;
}

.soft:hover {
  text-decoration: underline;
  color: default;
}

.main .card {
  width: 900px;
  display: block;
  background: linear-gradient(to top, #00ffd5ab 0%, #00d9ff86 100%);
  padding: 10px auto;
}

.inner .card {
  margin: 20px auto;
  padding: 20px auto;
  border: none;
}

body {
  align-items: center;
}

span {
  margin: 10px, 10px, 10px, 10px;
}

form {
  position: relative;
  left: 20px;
}

div .first {
  width: 280px;
  align-items: left;
  position: relative;
  left: 20px;
  display: inline-block;
}

div .second,
div .third {
  width: 200px;
  height: 120px;
  margin: 40px 20px auto;
  position: relative;
  left: 80px;
  display: inline-block;
  text-align: center;
  align-items: center;
}

h2 .curr-temp {
  font-size: 3rem;
}
